body{
	background-color: #277714;
}

img{
	background-color: white;
	display: inline-block;
	float: left;
	width: 130px;
	height: 200px;
	margin: 10px;
	border-radius: 5px;
	padding: 5px;
}

#wrapper{
	
}

#dealer{
	float: left;
}

#player{
	float: left;
}